<section id="gallery-single-carousel" class="section-carousel dark carousel-nav-none carousel-dots-center-bottom">
        <div class="carousel-single-autoheight owl-drag">
            <div class="item w-100">
                <img src="images/user/1007/banner0.jpg" alt="image" class="w-100" />
            </div>
            <div class="item w-100">
                <img src="images/user/1007/banner1.png" alt="image" class="w-100" />
            </div>
            <div class="item w-100">
                <img src="images/user/1007/banner3.jpg" alt="image" class="w-100 cursor-grab" />
            </div>
        </div>
        <div class="bg-wrap">
            <div class="bg"></div>
        </div>
</section>