<footer id="footer-text-4" class="pt-75 pb-30 dark" style="">
        <div class="container">
            <div class="row">
                {{!-- <div class="col-lg-5 mb-30" style="">
                    <img src="images/user/1007/logocosmectics4x.png" alt="logo" class="mw-100 mb-20" width="120px" />
                    <h4 class="mb-20" style="">
                        <span class="text-uppercase">CÔNG TY TNHH THƯƠNG MẠI MAI GIA<br /></span>
                    </h4>
                    <ul class="list-unstyled lead padding-list">
                        <li class="" style="">
                            <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 16 16" width="20" class="icon svg-default" style="">
                                <path
                                    d="m8 16c-3.3137085 0-6-2.1894737-6-5.8947368 0-3.7052632 6-10.1052632 6-10.1052632s6 6.4 6 10.1052632c0 3.7052631-2.6862915 5.8947368-6 5.8947368zm0-4c1.1045695 0 2-.8954305 2-2s-.8954305-2-2-2-2 .8954305-2 2 .8954305 2 2 2z"
                                    fill-rule="evenodd"
                                    transform="matrix(1 0 0 -1 0 16)"
                                ></path>
                            </svg>
                            Số 238 Khánh Hội, P.6, Q.4, TP Hồ Chí Minh
                        </li>
                        <li class="" style="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 384 512" class="icon svg-default" style="">
                                <path
                                    d="M97.333 506.966c-129.874-129.874-129.681-340.252 0-469.933 5.698-5.698 14.527-6.632 21.263-2.422l64.817 40.513a17.187 17.187 0 0 1 6.849 20.958l-32.408 81.021a17.188 17.188 0 0 1-17.669 10.719l-55.81-5.58c-21.051 58.261-20.612 122.471 0 179.515l55.811-5.581a17.188 17.188 0 0 1 17.669 10.719l32.408 81.022a17.188 17.188 0 0 1-6.849 20.958l-64.817 40.513a17.19 17.19 0 0 1-21.264-2.422zM247.126 95.473c11.832 20.047 11.832 45.008 0 65.055-3.95 6.693-13.108 7.959-18.718 2.581l-5.975-5.726c-3.911-3.748-4.793-9.622-2.261-14.41a32.063 32.063 0 0 0 0-29.945c-2.533-4.788-1.65-10.662 2.261-14.41l5.975-5.726c5.61-5.378 14.768-4.112 18.718 2.581zm91.787-91.187c60.14 71.604 60.092 175.882 0 247.428-4.474 5.327-12.53 5.746-17.552.933l-5.798-5.557c-4.56-4.371-4.977-11.529-.93-16.379 49.687-59.538 49.646-145.933 0-205.422-4.047-4.85-3.631-12.008.93-16.379l5.798-5.557c5.022-4.813 13.078-4.394 17.552.933zm-45.972 44.941c36.05 46.322 36.108 111.149 0 157.546-4.39 5.641-12.697 6.251-17.856 1.304l-5.818-5.579c-4.4-4.219-4.998-11.095-1.285-15.931 26.536-34.564 26.534-82.572 0-117.134-3.713-4.836-3.115-11.711 1.285-15.931l5.818-5.579c5.159-4.947 13.466-4.337 17.856 1.304z"
                                ></path>
                            </svg>
                            Điện thoại: <strong>090 398 4499</strong> - Hotline: <strong>090 398 4499</strong>
                        </li>
                        <li class="" style="">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="20" class="icon svg-default" style="" height="16">
                                <path d="m1.16613765 1h13.66772465l-6.8338623 6.77109639zm14.83386235 1.6087151v11.2246182c0 .6443322-.4477153 1.1666667-1 1.1666667h-14c-.55228475 0-1-.5223345-1-1.1666667v-11.2246182l8 7.6201885z"></path>
                            </svg>
                            Email: thacmaigia@gmail.com
                        </li>
                    </ul>
                </div>
                <div class="col-md mb-30">
                    <h4 class="" style="font-family: Lobster;"><strong class="">Danh mục</strong></h4>
                    <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 40 20" width="40" class="icon mb-20 svg-default" style="">
                        <path d="m0 8h40v4h-40z" fill-rule="evenodd"></path>
                    </svg>
                    <ul class="list-unstyled padding-list" style="">
                        <li class="" style=""><a href="#" class="">Quà Tết</a></li>
                        <li class="" style=""><a href="#" class="">Quà Giáng Sinh</a></li>

                        <li class="" style=""><a href="#" class="">Quà Sinh Nhật</a></li>
                        <li class="" style=""><a href="#" class="">Quà Gia Đình</a></li>
                    </ul>
                </div>
                <div class="col-md mb-30">
                    <h4 class="" style="font-family: Lobster;"><strong class="">Kết nối</strong></h4>
                    <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 40 20" width="40" class="icon mb-20 svg-default" style="">
                        <path d="m0 8h40v4h-40z" fill-rule="evenodd"></path>
                    </svg>
                    <ul class="list-unstyled padding-list" style="">
                        <li class="" style=""><a href="#" class="">Facebook</a></li>
                        <li class="" style=""><a href="#" class="">Pinterest</a></li>
                        <li class="" style=""><a href="#" class="">Linkin</a></li>
                        <li class="" style=""><a href="#" class="">Instagram</a></li>
                    </ul>
                </div>
                <div class="col-md mb-30">
                    <h4 class="" style="font-family: Lobster;"><strong class="">Khuyến mại</strong></h4>
                    <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 40 20" width="40" class="icon mb-20 svg-default" style="">
                        <path d="m0 8h40v4h-40z" fill-rule="evenodd" class=""></path>
                    </svg>
                    <ul class="list-unstyled padding-list" style="">
                        <li class="" style="">Đón Tết Kỷ Hợi</li>
                        <li class="" style="">Chào mừng 8/3</li>
                        <li class="" style="">Chào mừng 26/3</li>
                    </ul>
                </div> --}}

                <div class="col-12 pt-50 text-left border-top">
                    <div class="row">
                        <div class="col-md-3">
                            <h4 class="" style="font-family: Lobster;">Hotline</h4>
                            <h4 class="">090 398 4499</h4>
                        </div>
                        <div class="col-md-3">
                            <h4 class="" style="font-family: Lobster;">Liên hệ</h4>
                            <p class="">Số 238 Khánh Hội, P.6, Q.4, TP Hồ Chí Minh</p>
                        </div>
                        <div class="col-md-3">
                            <h4 class="" style="font-family: Lobster;">Email</h4>
                            <p class="">thacmaigia@gmail.com</p>
                        </div>
                        <div class="col-md-3">
                            <div class="inline-group mb-20 mb-md-0">
                                <a href="#" class="">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 0 16 16" width="30" class="icon svg-default" style="">
                                        <path
                                            d="m8.54611842 16h-7.66304125c-.48785295 0-.88307717-.3954695-.88307717-.8831324v-14.23379728c0-.48778708.3952863-.88307032.88307717-.88307032h14.23390773c.4876667 0 .8830151.39528324.8830151.88307032v14.23379728c0 .487725-.3954105.8831324-.8830151.8831324h-4.0772165v-6.19608178h2.0797387l.3114113-2.41472301h-2.39115v-1.54164808c0-.69911803.1941355-1.1755439 1.1966615-1.1755439l1.2786739-.00055875v-2.15974763c-.2211418-.0294274-.980176-.09517343-1.8632531-.09517343-1.84357263 0-3.10573228 1.12531866-3.10573228 3.19187953v1.78079226h-2.08507782v2.41472301h2.08507782z"
                                            fill="#4460a0"
                                            fill-rule="evenodd"
                                            class=""
                                        ></path>
                                    </svg>
                                </a>
                                <a href="#" class="">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 0 17 17" width="30" class="icon svg-default" style="">
                                        <path
                                            d="m8.301 6.422c.437 0 .769-.161 1.006-.484.181-.237.265-.617.265-1.12v-1.66c0-.503-.084-.873-.265-1.11-.238-.321-.57-.483-1.006-.483-.428 0-.76.161-.995.483-.181.238-.266.608-.266 1.111v1.66c0 .503.085.873.266 1.12.235.322.567.483.995.483zm-.408-3.434c0-.436.133-.654.408-.654.285 0 .408.218.408.654v1.992c0 .437-.123.664-.408.664-.275 0-.408-.228-.408-.664zm2.457 3.083c-.048-.143-.075-.37-.075-.711v-3.738h.863v3.481c0 .2 0 .313.01.333.019.133.085.208.199.208.17 0 .35-.133.54-.408v-3.614h.863v4.734h-.863v-.522c-.341.398-.663.588-.978.588-.275 0-.474-.113-.559-.351zm3.283 5.74v.436h-.854v-.436c0-.427.143-.646.427-.646.284.001.427.219.427.646zm-9.279-10.037c-.208-.588-.416-1.186-.617-1.774h1.007l.673 2.495.645-2.495h.968l-1.148 3.785v2.571h-.948v-2.571c-.086-.465-.276-1.129-.58-2.011zm10.929 7.011c-.171-.75-.788-1.3-1.518-1.385-1.746-.19-3.511-.19-5.266-.19s-3.52 0-5.256.19c-.738.085-1.346.635-1.526 1.385-.237 1.062-.247 2.22-.247 3.32 0 1.091 0 2.257.247 3.32.171.75.788 1.3 1.518 1.376 1.745.199 3.51.199 5.265.199s3.52 0 5.266-.199c.729-.076 1.337-.626 1.518-1.376.237-1.062.247-2.229.247-3.32-.001-1.1-.001-2.258-.248-3.32zm-9.8.958h-1.014v5.398h-.949v-5.398h-.997v-.892h2.96zm2.562 5.398h-.845v-.512c-.342.389-.664.579-.968.579-.274 0-.474-.114-.55-.351-.048-.142-.076-.361-.076-.692v-3.709h.845v3.453c0 .2 0 .304.009.333.02.132.086.199.199.199.172 0 .352-.132.541-.398v-3.586h.845zm3.226-1.404c0 .437-.02.749-.086.948-.104.342-.342.522-.674.522-.303 0-.598-.171-.883-.522v.456h-.843v-6.29h.843v2.059c.275-.342.57-.512.883-.512.332 0 .57.18.674.531.066.19.086.502.086.939zm3.206-.778h-1.698v.825c0 .437.143.654.437.654.209 0 .332-.113.38-.341.009-.047.019-.237.019-.579h.863v.124c0 .275 0 .465-.019.55-.02.189-.096.36-.199.512-.229.332-.579.503-1.024.503-.446 0-.779-.161-1.025-.484-.18-.228-.275-.598-.275-1.101v-1.641c0-.503.086-.863.266-1.101.247-.323.579-.484 1.016-.484.428 0 .759.161 1.005.484.172.237.257.597.257 1.101v.978zm-4.051-1.158v2.002c0 .427-.124.635-.37.635-.143 0-.285-.066-.428-.208v-2.855c.143-.143.285-.209.428-.209.246 0 .37.218.37.635z"
                                        ></path>
                                    </svg>
                                </a>
                                <a href="#" class="">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 448 512" class="icon svg-default" style="">
                                        <path
                                            d="M128.081 415.959c0 35.369-28.672 64.041-64.041 64.041S0 451.328 0 415.959s28.672-64.041 64.041-64.041 64.04 28.673 64.04 64.041zm175.66 47.25c-8.354-154.6-132.185-278.587-286.95-286.95C7.656 175.765 0 183.105 0 192.253v48.069c0 8.415 6.49 15.472 14.887 16.018 111.832 7.284 201.473 96.702 208.772 208.772.547 8.397 7.604 14.887 16.018 14.887h48.069c9.149.001 16.489-7.655 15.995-16.79zm144.249.288C439.596 229.677 251.465 40.445 16.503 32.01 7.473 31.686 0 38.981 0 48.016v48.068c0 8.625 6.835 15.645 15.453 15.999 191.179 7.839 344.627 161.316 352.465 352.465.353 8.618 7.373 15.453 15.999 15.453h48.068c9.034-.001 16.329-7.474 16.005-16.504z"
                                        ></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-wrap">
            <div class="bg"></div>
        </div>
    </footer>