<section id="sep-bottom-6" class="section-sep sep-bottom light">
        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col-12">
                    <img src="images/user/1007/linebannergift83.png" preserveaspectratio="none" class="d-block" alt="separator" width="100%" />
                </div>
            </div>
        </div>
        <div class="bg-wrap">
            <div class="bg"></div>
        </div>
    </section>
    <nav id="nav-logo-menu-btn" class="navbar navbar-expand-lg light shadow sticky-top show-menu fixed-top" style="">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-auto col-lg-2">
                    <a class="navbar-brand" href="#">
                        <img src="images/user/1007/logo	.png" class="mw-100" alt="" height="50px" />
                    </a>
                </div>
                <div class="col-auto ml-auto hidden-lg">
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target=".main-menu-collapse" aria-controls="navbarMenuContent" aria-expanded="false" aria-label="Toggle navigation" style="">
                        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                </div>
                <div class="col-lg-8 collapse navbar-collapse main-menu-collapse">
                    <ul class="navbar-nav ml-auto" style="">
                        <li class="nav-item active" style="">
                            <a class="nav-link smooth" href="#header-text-carousel" target="_self">TRANG CHỦ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link smooth" href="#desc-tabs-2" target="_self">Mua ngay</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link smooth" href="#testimonial-carousel-2" target="_self">Hợp tác với RELX tại Việt Nam</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link smooth" href="#benefits-3col-7" target="_self">Liên hệ chúng tôi</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 no-gutters collapse navbar-collapse main-menu-collapse justify-content-lg-end">
                    <div class="btn-group d-inline-flex">
                        <a class="btn btn-primary btn-lg dark" href="#" data-toggle="modal" data-target="#popup-form" style="overflow: visible;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 28 28" fill="none" class="icon icon-pos-left" style="fill: rgb(255, 255, 255);">
                                <path
                                    d="M21.2871 18.5226C20.3724 17.6195 19.2304 17.6195 18.3214 18.5226C17.6281 19.2101 16.9347 19.8976 16.253 20.5968C16.0666 20.7891 15.9092 20.8299 15.682 20.7017C15.2334 20.457 14.7556 20.2589 14.3244 19.9909C12.3143 18.7265 10.6304 17.1009 9.13881 15.2714C8.39884 14.3624 7.74045 13.3894 7.28015 12.294C7.18693 12.0726 7.20441 11.9269 7.38503 11.7463C8.07839 11.0763 8.75426 10.3887 9.43597 9.70119C10.3857 8.74564 10.3857 7.62695 9.43014 6.66557C8.88827 6.11788 8.34641 5.58184 7.80454 5.03414C7.24519 4.47479 6.69167 3.90962 6.1265 3.3561C5.21173 2.46464 4.06973 2.46464 3.16079 3.36193C2.46161 4.04946 1.79156 4.75447 1.08072 5.43035C0.422322 6.05378 0.09021 6.81706 0.0202916 7.70852C-0.0904125 9.15933 0.265006 10.5286 0.766088 11.8628C1.79156 14.6246 3.35307 17.0776 5.24669 19.3266C7.80454 22.3681 10.8576 24.7744 14.4293 26.5107C16.0374 27.2915 17.7038 27.8916 19.5159 27.9907C20.7627 28.0606 21.8465 27.746 22.7146 26.7729C23.3089 26.1087 23.979 25.5027 24.6083 24.8677C25.5405 23.9238 25.5463 22.7818 24.6199 21.8495C23.5129 20.7366 22.4 19.6296 21.2871 18.5226Z"
                                    fill="white"
                                ></path>
                                <path
                                    d="M20.1744 13.8788L22.3243 13.5118C21.9864 11.5366 21.0542 9.74782 19.6383 8.32615C18.1409 6.82873 16.2473 5.88483 14.1614 5.59351L13.8584 7.75515C15.4723 7.98238 16.9406 8.7107 18.1001 9.87018C19.1955 10.9656 19.9122 12.3523 20.1744 13.8788Z"
                                    fill="white"
                                ></path>
                                <path
                                    d="M23.5362 4.53304C21.0541 2.05094 17.9136 0.483602 14.4468 0L14.1438 2.16164C17.1386 2.58115 19.8538 3.93874 21.998 6.07707C24.0314 8.11053 25.3657 10.68 25.8493 13.5059L27.9993 13.1388C27.4341 9.86432 25.8901 6.89279 23.5362 4.53304Z"
                                    fill="white"
                                ></path>
                            </svg>
                            <strong class="">ĐẶT HÀNG</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-wrap">
            <div class="bg"></div>
        </div>
    </nav>