<section id="desc-tabs-2" class="pt-50 pb-50 pt-md-100 pb-md-100 dark" style="">
        <div class="container">
            <div class="row">
                <div class="col-6 text-center" style="">
                    <h2 style="color: black;"><strong>About Us</strong></h2>   
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                    </p>
                </div>
                <div class="col-6 text-center" style="">
                    <iframe width="612" height="344" src="https://www.youtube.com/embed/n2Z6vxdJqG4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
          
        </div>
        <div class="bg-wrap">
            <div class="bg"></div>
        </div>
</section>