<section  class="pt-50 pb-50 pt-md-100 pb-md-100 " style="background:#A3D8EE">
        <div class="container">
            <div class="row">
                <div class="col-6 text-center" style="">
                      
                     <img width="450" height="188" src="/images/web_4_0ae6acd6-f6f1-4faf-9813-e098b3371e64_1920x-1024x427.jpg">                
                     <img width="450" height="282" src="/images/web_3_e4f37b63-25e0-48c1-91df-6dd0d1f558f4_1920x-1024x640.jpg">                
                     <img width="450" height="282" src="/images/mouthpiece-design-and-dual-charging-1024x639.jpg">                
                     <img width="450" height="640" src="/images/q11-1-719x1024.png">                
                     <img width="450" height="282" src="/images/mouthpiece-design-and-dual-charging-1024x639.jpg">
                     <img width="450" height="450" src="/images/28_3640b.jpg">
                </div>
                <div class="col-6 text-center" style="">
                    <img width="450" height="90" src="/images/Screenshot-2019-06-22-at-7.21.06-AMM-1024x205.jpg">                                   
                    <img width="450" height="272" src="/images/mint-1024x620.jpg">                                                                                        
                    <img width="450" height="210" src="/images/banner12-1024x480.jpg">                                   
                    <img width="450" height="185" src="/images/web_5_5f1f7edb-8f71-4226-9ac7-3111af9a9156_1920x-1024x419.jpg">                                   
                    <img width="450" height="302" src="/images/ENG_Gold-1024x685.png">                                   
                    <img width="450" height="327" src="/images/Screenshot-2019-06-22-at-10.07.45-AM.png">                                   
                    <img width="450" height="337" src="/images/Screenshot-2019-06-22-at-10.06.02-AM.png">                                   
                    <img width="450" height="272" src="/images/mint-1024x620.jpg">                                   
                </div>
            </div>
          
        </div>
        <div class="bg-wrap">
            <div class="bg"></div>
        </div>
</section>