<section  class="pt-50 pb-50 pt-md-100 pb-md-100 " style="background:#A3D8EE">
        <div class="container">
            <div class="row">
                <div class="col-6 text-center" style="">
                    <p style="color: black;font-size:24px"><strong>HƯƠNG VỊ MỚI CỦA CHÚNG TÔI</strong></p>   
                     <img width="460" height="414" src="/images/107869413_1219610575039755_6808016479125931863_o-768x692.jpg">                
                     <img width="460" height="460" src="/images/newrelx_new_3_flavour_orange_s_1600432952_e1b6b6ff-1024x1024.jpg">                
                </div>
                <div class="col-6 text-center" style="">
                    <img width="460" height="390" src="/images/C_FP_FreshRed_1024x-ink-1024x868.png">                                   
                    <img width="460" height="462" src="/images/ExoticPassion_6c3da423-d600-41ba-8730-4066db6818ff_1120x-1019x1024.png">                                   
                </div>
            </div>
          
        </div>
        <div class="bg-wrap">
            <div class="bg"></div>
        </div>
</section>