<section id="desc-tabs-2" class="pt-50 pb-50 pt-md-100 pb-md-100 dark" style="">
        <div class="container">
            <h2><strong>PRODUCTS</strong></h2>
            <div class="row">
                                <div class="col-sm-6 col-lg-3">
                                    <div class="gallery-item gallery-style-3 mb-50 rounded padding shadow">
                                        <a href="/images/H51750b51605642d3a8782c7c78abb7b37-247x296.jpg" class="smooth image-popup" target="_self">
                                            <img src="/images/H51750b51605642d3a8782c7c78abb7b37-247x296.jpg" alt="" class="item-img" />
                                        </a>
                                    </div>
                                    <div class="gallery-item gallery-style-3 padding mb-50 shadow rounded">
                                        <a href="/images/121107905_1303006163375464_2880419985679389890_n-247x296.jpg" class="smooth image-popup" target="_self">
                                            <img src="/images/121107905_1303006163375464_2880419985679389890_n-247x296.jpg" alt="" class="item-img" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <div class="gallery-item gallery-style-3 padding mb-50 shadow rounded">
                                        <a href="/images/flavors-01-247x296.jpg" class="smooth image-popup" target="_self">
                                            <img src="/images/flavors-01-247x296.jpg" alt="" class="item-img" />
                                        </a>
                                    </div>
                                    <div class="gallery-item gallery-style-3 padding mb-50 shadow rounded">
                                        <a href="/images/Edm3mUcWoAkbAc8-247x296.jpg" class="smooth image-popup" target="_self">
                                            <img src="/images/Edm3mUcWoAkbAc8-247x296.jpg" alt="" class="item-img" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <div class="gallery-item gallery-style-3 padding mb-50 shadow rounded">
                                        <a href="/images/RLX-NAN10-2T-247x296.jpg" class="external smooth image-popup" target="_self">
                                            <img src="/images/RLX-NAN10-2T-247x296.jpg" alt="" class="item-img" />
                                        </a>
                                    </div>
                                    <div class="gallery-item gallery-style-3 padding mb-50 shadow rounded">
                                        <a href="/images/107869413_1219610575039755_6808016479125931863_o-247x296.jpg" class="smooth image-popup" target="_self">
                                            <img src="/images/107869413_1219610575039755_6808016479125931863_o-247x296.jpg" alt="" class="item-img" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <div class="gallery-item gallery-style-3 padding mb-50 shadow rounded">
                                        <a href="/images/Q7-247x296.png" class="smooth image-popup" target="_self">
                                            <img src="/images/Q7-247x296.png" alt="" class="item-img" />
                                        </a>
                                    </div>
                               
                                </div>
            </div>
            
        <div class="bg-wrap">
            <div class="bg"></div>
        </div>
    </section>