<section  class="pt-50 pb-50 pt-md-100 pb-md-100 " style="background:#A3D8EE">
        <div class="container">
            <div class="row">
                <div class="col-6 text-center" style="">                      
                     <img width="450" height="450" src="/images/H7245e86b9ddf454e8c7df7c5cfe8da74U.png">                           
                </div>
                <div class="col-6 text-center" style="">
                    <h2>{{item.title}}</h2>   
                    <h2>₫ {{item.price}}</h2>    
                    <h2 style="color: black;"><strong>Liên hệ với Chúng tôi</strong></h2>   
                    <p><strong>Công ty TNHH Thương Mại Dịch Vụ Vi Tính Mai Gia</strong></p>                     
                    <p><strong> 238 Khánh Hội, P.6, Q.4, TPHCM</strong></p>                     
                    <p><strong>  02839.252536 - 090.398.44.99 - 0787.19.1111</strong></p>             
                </div>
            </div>
          
        </div>
        <div class="bg-wrap">
            <div class="bg"></div>
        </div>
</section>