<div id="wrap">
    {{> headerNav}}
    {{> section}}
    {{> bannerSlider}}
    {{> sectionMot}}
    {{> sectionHai}}
    {{> sectionBa}}
    {{> footer}}
    {{> buttonCall}}    
</div>
{{> modalContainer}}

