<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8">
		<title>Home RELX Việt Nam</title>		
		<link rel="icon" href="images/user/1007/favicon.png" type="image/x-icon">
		<meta name="keywords" content="" />		
		<meta name="description" content="Giúp bạn trải nghiệm sự chuyên nghiệp &amp; đẳng cấp, chúng tôi nhận giao qua tận nơi người bạn muốn tặng" />			
		<meta name="viewport" content="width=device-width,initial-scale=1.0,viewport-fit=cover">
		<link rel="stylesheet" href="/css/fonts.css" />
		<link rel="stylesheet" href="/css/bootstrap.weber.css" />
		<link rel="stylesheet" href="/css/fx.css" />
		<link rel="stylesheet" href="/css/owl.carousel.css" />
		<link rel="stylesheet" href="/css/magnific-popup.css" />
		<link rel="stylesheet" href="/css/masonryfilter.css" />
		<link rel="stylesheet" href="/css/custom.css" />
		<link rel="stylesheet" href="/css/index.css" />		
		<link rel="stylesheet" href="/css/therelx.css" />		
	</head

    <body>
              

            <div class="light-page">
                {{{body}}}
            </div>
          
         <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCByts0vn5uAYat3aXEeK0yWL7txqfSMX8"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
		<script src="/js/jquery-3.4.1.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/owl.carousel.js"></script>
		<script src="/js/jquery.magnific-popup.min.js"></script>
		<script src="/js/jquery.masonryfilter.js"></script>
		<script src="/js/jquery.validate.min.js"></script>
		<script src="/js/jquery.smooth-scroll.min.js"></script>
		<script src="/js/custom.js"></script>
		<script src="/js/index.js"></script>
    </body>
</html>